In [1]:
from owid.catalog.datasets import Dataset
from owid.catalog.meta import *
from owid.catalog.variables import Variable
from owid.catalog.tables import Table

In [2]:
df = pd.read_feather("entities/04-countries-with-continents.feather")

In [3]:
df

,code,name,iso_alpha2,iso_alpha3,imf_code,cow_letter,cow_code,unctad_code,marc_code,ncd_code,kansas_code,penn_code,wikidata_uri,wikidata_label,legacy_entity_id,legacy_country_id,members
0,AFG,Afghanistan,AF,AFG,512,AFG,700,AFG,AF,AFGN,AFG,AFG,http://www.wikidata.org/entity/Q889,Afghanistan,15,562,None
1,ALA,Aland Islands,AX,ALA,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,http://www.wikidata.org/entity/Q5689,Åland,296,791,None
2,ALB,Albania,AL,ALB,914,ALB,339,ALB,AA,ALBN,ALB,ALB,http://www.wikidata.org/entity/Q222,Albania,16,565,None
3,DZA,Algeria,DZ,DZA,612,ALG,615,ALG,AE,ALGR,DZA,DZA,http://www.wikidata.org/entity/Q262,Algeria,17,619,None
4,ASM,American Samoa,AS,ASM,859,<NA>,<NA>,<NA>,AS,<NA>,ASM,ASM,http://www.wikidata.org/entity/Q16641,American Samoa,246,571,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,OWID_ASI,Asia,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,275,<NA>,"[""AFG"", ""ARM"", ""AZE"", ""BHR"", ""BGD"", ""BTN"", ""IO..."
292,OWID_EUR,Europe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,276,<NA>,"[""ALA"", ""ALB"", ""AND"", ""AUT"", ""OWID_AUH"", ""OWID..."
293,OWID_LAM,Latin America,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5403,<NA>,"[""ARG"", ""BOL"", ""BRA"", ""OWID_NLC"", ""CHL"", ""COL""..."
294,OWID_NAM,North America,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,294,<NA>,"[""AIA"", ""ATG"", ""ABW"", ""BHS"", ""BRB"", ""BLZ"", ""BM..."
295,OWID_OCE,Oceania,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,277,<NA>,"[""ASM"", ""AUS"", ""COK"", ""FJI"", ""PYF"", ""GUM"", ""KI..."

In [5]:
countries_regions = Table(df)

In [6]:
isinstance(countries_regions, Table)

True

In [7]:
isinstance(countries_regions.name, Variable)

True

In [8]:
countries_regions.head()

,code,name,iso_alpha2,iso_alpha3,imf_code,cow_letter,cow_code,unctad_code,marc_code,ncd_code,kansas_code,penn_code,wikidata_uri,wikidata_label,legacy_entity_id,legacy_country_id,members
0,AFG,Afghanistan,AF,AFG,512,AFG,700,AFG,AF,AFGN,AFG,AFG,http://www.wikidata.org/entity/Q889,Afghanistan,15,562,None
1,ALA,Aland Islands,AX,ALA,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,http://www.wikidata.org/entity/Q5689,Åland,296,791,None
2,ALB,Albania,AL,ALB,914,ALB,339,ALB,AA,ALBN,ALB,ALB,http://www.wikidata.org/entity/Q222,Albania,16,565,None
3,DZA,Algeria,DZ,DZA,612,ALG,615,ALG,AE,ALGR,DZA,DZA,http://www.wikidata.org/entity/Q262,Algeria,17,619,None
4,ASM,American Samoa,AS,ASM,859,<NA>,<NA>,<NA>,AS,<NA>,ASM,ASM,http://www.wikidata.org/entity/Q16641,American Samoa,246,571,None

In [9]:
countries_regions.columns

Index(['code', 'name', 'iso_alpha2', 'iso_alpha3', 'imf_code', 'cow_letter',
       'cow_code', 'unctad_code', 'marc_code', 'ncd_code', 'kansas_code',
       'penn_code', 'wikidata_uri', 'wikidata_label', 'legacy_entity_id',
       'legacy_country_id', 'members'],
      dtype='object')

In [25]:
countries_regions.set_index("code", inplace=True)

In [38]:
def add_variable_metadata(table: Table, column_name: str, title: str, description: str) -> None:
    table[column_name].metadata.name = column_name
    table[column_name].metadata.title = title
    table[column_name].metadata.description = description

In [39]:
add_variable_metadata(countries_regions, "code", "OWID geo code",
                      """The primary identifier for geographic entities at Our World In Data. Based on ISO alpha 3 country codes but extended with custom identifiers where necessary.""")

KeyError: 'code'

In [40]:
add_variable_metadata(countries_regions, "name", "Name", """The preferred name for a country/region""")

In [41]:
add_variable_metadata(countries_regions, "iso_alpha2", "ISO 3166-1 alpha-2 code", """International 2 letter ISO country code""")

In [42]:
add_variable_metadata(countries_regions, "iso_alpha3", "ISO 3166-1 alpha-3 code", """International 3 letter ISO country code""")

In [43]:
add_variable_metadata(countries_regions, "imf_code", "IMF code", """IMF country code""")

In [44]:
add_variable_metadata(countries_regions, "cow_letter", "Correlates of War country code", """Correlates of War project country code (StateAbb)""")

In [45]:
add_variable_metadata(countries_regions, "cow_code", "Correlates of War country id", """Correlates of War project country identifier (CCode)""")

In [46]:
add_variable_metadata(countries_regions, "unctad_code", "UN CTAD code", """United Nations Conference on Trade and Development country code""")

In [47]:
add_variable_metadata(countries_regions, "marc_code", "MARC code", """Library of Congress MARC project country code""")

In [48]:
add_variable_metadata(countries_regions, "kansas_code", "kansas_code", """""")

In [49]:
add_variable_metadata(countries_regions, "penn_code", "PENN world table country code", """Country code for the PENN World Talbe project by the University of Groningen""")

In [50]:
add_variable_metadata(countries_regions, "wikidata_uri", "Wikidata id", """The Wikidata identifier for this country/region""")

In [51]:
add_variable_metadata(countries_regions, "wikidata_label", "Wikidata label", """The Wikidata label (english language)""")

In [52]:
add_variable_metadata(countries_regions, "legacy_country_id", "Legacy OWID country table id", """Used for matching legacy data that contained ids from the Our World In Data mysql country_name_tool_countrydata table""")

In [53]:
add_variable_metadata(countries_regions, "legacy_entity_id", "Legacy OWID entity table id", """Used for matching legacy data that contained ids from the Our World In Data mysql entity table""")

In [54]:
add_variable_metadata(countries_regions, "members", "List of members of each region/country", """An optional json encoded array of strings referencing other rows in this table by 'code'. Rows that have entries here are understood to 'contain' other entries, e.g. continents list the contained countries or a country could list the contained subnational regions. """)

In [55]:
countries_regions.metadata.name = "countries-regions"
countries_regions.metadata.title = "Countries and regions"
countries_regions.metadata.description = "Our World In Data countries and geo-regions harmonisation dataset. Contains various identifiers for all current sovereign nations, overseas territories, some historic countries as well as common groupings like continents like world",

In [56]:
ds = Dataset.create_empty("../reference")

In [57]:
ds.add(countries_regions)

In [58]:
countries_regions.penn_code.metadata

VariableMeta(title='PENN world table country code', description='Country code for the PENN World Talbe project by the University of Groningen', sources=[], licenses=[])

In [28]:
ds.metadata.name = "owid-reference"
ds.metadata.description = """Our World In Data reference datasets. These datasets define the vocabulary for important dimensions that we harmonized across different datasets. 
Every table represents the vocabulary for one dimensions and can include additional columns like third party identifiers, hierarchical grouping etc."""

In [29]:
ds.save()

In [30]:
readme_text = """# Countries and regions

This dataset is used for harmonizing countries and world regions across datasets. The columns are mostly 
identifiers from various sources that can be helpful in linking data. The main 
"""