# FAO Land Use (2021)

## Parameters

In [1]:
dest_dir = "/tmp/faostat_rl"

## Imports

In [2]:
from owid import catalog
import json
from pathlib import Path

In [3]:
from etl.paths import BASE_DIR as base_path

## Load meadow data

In [4]:
meadow_path = base_path / "data/meadow/faostat/2021-06-17/faostat_rl"

fao_meadow = catalog.Dataset(meadow_path)

df = fao_meadow["land_use"]

In [5]:
df.metadata

TableMeta(short_name='land_use', title=None, description=None, dataset=DatasetMeta(namespace='faostat', short_name='faostat_rl', title='Land, Inputs and Sustainability: Land Use - FAO (2021)', description='The FAOSTAT Land Use domain contains data on forty-four categories of land use, irrigation and agricultural practices, relevant to monitor agriculture, forestry and fisheries activities at national, regional and global level. Data are available by country and year, with global coverage and annual updates.', sources=[Source(name='Food and Agriculture Organization of the United Nations', description=None, url='http://www.fao.org/faostat/en/#data', source_data_url='https://fenixservices.fao.org/faostat/static/bulkdownloads/Inputs_LandUse_E_All_Data_(Normalized).zip', owid_data_url='http://walden.nyc3.digitaloceanspaces.com/faostat/2021-06-17/Inputs_LandUse_E_All_Data_(Normalized).zip', date_accessed='2021-11-05', publication_date='2021-06-17', publication_year=2021)], licenses=[License(name='CC BY-NC-SA 3.0 IGO', url='http://www.fao.org/contact-us/terms/db-terms-of-use/en')], source_checksum='cf0c3bc2bc502c7d2d54cd91b8e5f4f2'), primary_key=['Area', 'Item', 'Element', 'Year'])

In [6]:
df.head()

                                          Unit    Value Flag
Area        Item         Element Year
Afghanistan Country area Area    1961  1000 ha  65286.0    W
                                 1962  1000 ha  65286.0    W
                                 1963  1000 ha  65286.0    W
                                 1964  1000 ha  65286.0    W
                                 1965  1000 ha  65286.0    W

## Fix country names

In [7]:
filename = (
    base_path / "etl/steps/data/garden/faostat/2021-06-17/faostat_rl.countries.json"
)

with open(filename) as f:
    cm = json.load(f)

In [8]:
cm

{'Afghanistan': 'Afghanistan',
 'Africa': 'Africa',
 'Albania': 'Albania',
 'Algeria': 'Algeria',
 'American Samoa': 'American Samoa',
 'Andorra': 'Andorra',
 'Angola': 'Angola',
 'Anguilla': 'Anguilla',
 'Antigua and Barbuda': 'Antigua and Barbuda',
 'Argentina': 'Argentina',
 'Armenia': 'Armenia',
 'Aruba': 'Aruba',
 'Asia': 'Asia',
 'Australia': 'Australia',
 'Austria': 'Austria',
 'Azerbaijan': 'Azerbaijan',
 'Bahamas': 'Bahamas',
 'Bahrain': 'Bahrain',
 'Bangladesh': 'Bangladesh',
 'Barbados': 'Barbados',
 'Belarus': 'Belarus',
 'Belgium': 'Belgium',
 'Belize': 'Belize',
 'Benin': 'Benin',
 'Bermuda': 'Bermuda',
 'Bhutan': 'Bhutan',
 'Bosnia and Herzegovina': 'Bosnia and Herzegovina',
 'Botswana': 'Botswana',
 'Brazil': 'Brazil',
 'British Virgin Islands': 'British Virgin Islands',
 'Bulgaria': 'Bulgaria',
 'Burkina Faso': 'Burkina Faso',
 'Burundi': 'Burundi',
 'Cambodia': 'Cambodia',
 'Cameroon': 'Cameroon',
 'Canada': 'Canada',
 'Cayman Islands': 'Cayman Islands',
 'Central African Republic': 'Central African Republic',
 'Chad': 'Chad',
 'Channel Islands': 'Channel Islands',
 'Chile': 'Chile',
 'China': 'China',
 'Colombia': 'Colombia',
 'Comoros': 'Comoros',
 'Congo': 'Congo',
 'Cook Islands': 'Cook Islands',
 'Costa Rica': 'Costa Rica',
 'Croatia': 'Croatia',
 'Cuba': 'Cuba',
 'Cyprus': 'Cyprus',
 'Czechia': 'Czechia',
 'Czechoslovakia': 'Czechoslovakia',
 'Denmark': 'Denmark',
 'Djibouti': 'Djibouti',
 'Dominica': 'Dominica',
 'Dominican Republic': 'Dominican Republic',
 'Ecuador': 'Ecuador',
 'Egypt': 'Egypt',
 'El Salvador': 'El Salvador',
 'Equatorial Guinea': 'Equatorial Guinea',
 'Eritrea': 'Eritrea',
 'Estonia': 'Estonia',
 'Eswatini': 'Eswatini',
 'Ethiopia': 'Ethiopia',
 'Europe': 'Europe',
 'Fiji': 'Fiji',
 'Finland': 'Finland',
 'France': 'France',
 'French Polynesia': 'French Polynesia',
 'Gabon': 'Gabon',
 'Gambia': 'Gambia',
 'Georgia': 'Georgia',
 'Germany': 'Germany',
 'Ghana': 'Ghana',
 'Gibraltar': 'Gibraltar',
 'Greece': 'Greece',
 'Greenland': 'Greenland',
 'Grenada': 'Grenada',
 'Guadeloupe': 'Guadeloupe',
 'Guam': 'Guam',
 'Guatemala': 'Guatemala',
 'Guinea': 'Guinea',
 'Guinea-Bissau': 'Guinea-Bissau',
 'Guyana': 'Guyana',
 'Haiti': 'Haiti',
 'Honduras': 'Honduras',
 'Hungary': 'Hungary',
 'Iceland': 'Iceland',
 'India': 'India',
 'Indonesia': 'Indonesia',
 'Iraq': 'Iraq',
 'Ireland': 'Ireland',
 'Isle of Man': 'Isle of Man',
 'Israel': 'Israel',
 'Italy': 'Italy',
 'Jamaica': 'Jamaica',
 'Japan': 'Japan',
 'Jordan': 'Jordan',
 'Kazakhstan': 'Kazakhstan',
 'Kenya': 'Kenya',
 'Kiribati': 'Kiribati',
 'Kuwait': 'Kuwait',
 'Kyrgyzstan': 'Kyrgyzstan',
 'Latvia': 'Latvia',
 'Lebanon': 'Lebanon',
 'Lesotho': 'Lesotho',
 'Liberia': 'Liberia',
 'Libya': 'Libya',
 'Liechtenstein': 'Liechtenstein',
 'Lithuania': 'Lithuania',
 'Luxembourg': 'Luxembourg',
 'Madagascar': 'Madagascar',
 'Malawi': 'Malawi',
 'Malaysia': 'Malaysia',
 'Maldives': 'Maldives',
 'Mali': 'Mali',
 'Malta': 'Malta',
 'Marshall Islands': 'Marshall Islands',
 'Martinique': 'Martinique',
 'Mauritania': 'Mauritania',
 'Mauritius': 'Mauritius',
 'Mayotte': 'Mayotte',
 'Melanesia': 'Melanesia',
 'Mexico': 'Mexico',
 'Monaco': 'Monaco',
 'Mongolia': 'Mongolia',
 'Montenegro': 'Montenegro',
 'Montserrat': 'Montserrat',
 'Morocco': 'Morocco',
 'Mozambique': 'Mozambique',
 'Myanmar': 'Myanmar',
 'Namibia': 'Namibia',
 'Nauru': 'Nauru',
 'Nepal': 'Nepal',
 'Netherlands': 'Netherlands',
 'New Caledonia': 'New Caledonia',
 'New Zealand': 'New Zealand',
 'Nicaragua': 'Nicaragua',
 'Niger': 'Niger',
 'Nigeria': 'Nigeria',
 'Niue': 'Niue',
 'Norfolk Island': 'Norfolk Island',
 'North Macedonia': 'North Macedonia',
 'Northern Mariana Islands': 'Northern Mariana Islands',
 'Norway': 'Norway',
 'Oceania': 'Oceania',
 'Oman': 'Oman',
 'Pakistan': 'Pakistan',
 'Palau': 'Palau',
 'Palestine': 'Palestine',
 'Panama': 'Panama',
 'Papua New Guinea': 'Papua New Guinea',
 'Paraguay': 'Paraguay',
 'Peru': 'Peru',
 'Philippines': 'Philippines',
 'Pitcairn': 'Pitcairn',
 'Poland': 'Poland',
 'Polynesia': 'Polynesia',
 'Portugal': 'Portugal',
 'Puerto Rico': 'Puerto Rico',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Rwanda': 'Rwanda',
 'Saint Kitts and Nevis': 'Saint Kitts and Nevis',
 'Saint Lucia': 'Saint Lucia',
 'Saint Pierre and Miquelon': 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
 'Samoa': 'Samoa',
 'San Marino': 'San Marino',
 'Sao Tome and Principe': 'Sao Tome and Principe',
 'Saudi Arabia': 'Saudi Arabia',
 'Senegal': 'Senegal',
 'Serbia': 'Serbia',
 'Serbia and Montenegro': 'Serbia and Montenegro',
 'Seychelles': 'Seychelles',
 'Sierra Leone': 'Sierra Leone',
 'Singapore': 'Singapore',
 'Sint Maarten (Dutch part)': 'Sint Maarten (Dutch part)',
 'Slovakia': 'Slovakia',
 'Slovenia': 'Slovenia',
 'Solomon Islands': 'Solomon Islands',
 'Somalia': 'Somalia',
 'South Africa': 'South Africa',
 'South Sudan': 'South Sudan',
 'Spain': 'Spain',
 'Sri Lanka': 'Sri Lanka',
 'Sudan': 'Sudan',
 'Suriname': 'Suriname',
 'Sweden': 'Sweden',
 'Switzerland': 'Switzerland',
 'Tajikistan': 'Tajikistan',
 'Thailand': 'Thailand',
 'Togo': 'Togo',
 'Tokelau': 'Tokelau',
 'Tonga': 'Tonga',
 'Trinidad and Tobago': 'Trinidad and Tobago',
 'Tunisia': 'Tunisia',
 'Turkey': 'Turkey',
 'Turkmenistan': 'Turkmenistan',
 'Turks and Caicos Islands': 'Turks and Caicos Islands',
 'Tuvalu': 'Tuvalu',
 'USSR': 'USSR',
 'Uganda': 'Uganda',
 'Ukraine': 'Ukraine',
 'United Arab Emirates': 'United Arab Emirates',
 'United States Virgin Islands': 'United States Virgin Islands',
 'Uruguay': 'Uruguay',
 'Uzbekistan': 'Uzbekistan',
 'Vanuatu': 'Vanuatu',
 'Western Sahara': 'Western Sahara',
 'World': 'World',
 'Yemen': 'Yemen',
 'Zambia': 'Zambia',
 'Zimbabwe': 'Zimbabwe',
 'Bolivia (Plurinational State of)': 'Bolivia',
 'Bonaire, Sint Eustatius and Saba': 'Bonaire Sint Eustatius and Saba',
 'Brunei Darussalam': 'Brunei',
 'Cabo Verde': 'Cape Verde',
 'China, Hong Kong SAR': 'Hong Kong',
 'China, Macao SAR': 'Macao',
 'China, Taiwan Province of': 'Taiwan',
 'China, mainland': 'China',
 'Curaçao': 'Curacao',
 "Côte d'Ivoire": "Cote d'Ivoire",
 "Democratic People's Republic of Korea": 'North Korea',
 'Democratic Republic of the Congo': 'Democratic Republic of Congo',
 'Ethiopia PDR': 'Eritrea and Ethiopia',
 'Falkland Islands (Malvinas)': 'Falkland Islands',
 'Faroe Islands': 'Faeroe Islands',
 'French Guyana': 'French Guiana',
 'Holy See': 'Vatican',
 'Iran (Islamic Republic of)': 'Iran',
 "Lao People's Democratic Republic": 'Laos',
 'Micronesia (Federated States of)': 'Micronesia (country)',
 'Netherlands Antilles (former)': 'Netherlands Antilles',
 'Republic of Korea': 'South Korea',
 'Republic of Moldova': 'Moldova',
 'Russian Federation': 'Russia',
 'Réunion': 'Reunion',
 'Saint Barthélemy': 'Saint Barthlemy',
 'Saint Helena, Ascension and Tristan da Cunha': 'Saint Helena',
 'Saint-Martin (French part)': 'Saint Martin (French part)',
 'Syrian Arab Republic': 'Syria',
 'Timor-Leste': 'Timor',
 'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
 'United Republic of Tanzania': 'Tanzania',
 'United States of America': 'United States',
 'Venezuela (Bolivarian Republic of)': 'Venezuela',
 'Viet Nam': 'Vietnam',
 'Wallis and Futuna Islands': 'Wallis and Futuna'}

In [9]:
df.head()

                                          Unit    Value Flag
Area        Item         Element Year
Afghanistan Country area Area    1961  1000 ha  65286.0    W
                                 1962  1000 ha  65286.0    W
                                 1963  1000 ha  65286.0    W
                                 1964  1000 ha  65286.0    W
                                 1965  1000 ha  65286.0    W

In [10]:
# we need to move Area out of the index to change it
df.reset_index(inplace=True)

In [11]:
df.head()

          Area          Item Element  Year     Unit    Value Flag
0  Afghanistan  Country area    Area  1961  1000 ha  65286.0    W
1  Afghanistan  Country area    Area  1962  1000 ha  65286.0    W
2  Afghanistan  Country area    Area  1963  1000 ha  65286.0    W
3  Afghanistan  Country area    Area  1964  1000 ha  65286.0    W
4  Afghanistan  Country area    Area  1965  1000 ha  65286.0    W

In [12]:
# if we have something in the mapping, use that
# otherwise leave the name the same
area = df["Area"].apply(lambda a: cm.get(a, a))

In [13]:
# now we need to put the index back; luckily it's kept in the metadata
df.metadata.primary_key

['Area', 'Item', 'Element', 'Year']

In [14]:
df.set_index(df.metadata.primary_key, inplace=True)

## Make the garden dataset

In [15]:
fao_garden = catalog.Dataset.create_empty(dest_dir)

In [16]:
fao_garden.metadata = fao_meadow.metadata
fao_garden.save()

In [17]:
fao_garden.add(df)