In [15]:
dest_dir = "/tmp/faostat_rl"

In [1]:
from owid import catalog
import json
from pathlib import Path

In [2]:
from etl.paths import BASE_DIR as base_path

In [18]:
fao_meadow = catalog.Dataset((base_path / "data/meadow/faostat/2021-06-17/faostat_rl"))

df = fao_meadow['land_use']

In [11]:
df.metadata

TableMeta(short_name='land_use', title=None, description=None, dataset=DatasetMeta(namespace='faostat', short_name='faostat_rl', title='Land, Inputs and Sustainability: Land Use - FAO (2021)', description='The FAOSTAT Land Use domain contains data on forty-four categories of land use, irrigation and agricultural practices, relevant to monitor agriculture, forestry and fisheries activities at national, regional and global level. Data are available by country and year, with global coverage and annual updates.', sources=[Source(name='Food and Agriculture Organization of the United Nations', description=None, url='http://www.fao.org/faostat/en/#data', source_data_url='https://fenixservices.fao.org/faostat/static/bulkdownloads/Inputs_LandUse_E_All_Data_(Normalized).zip', owid_data_url='http://walden.nyc3.digitaloceanspaces.com/faostat/2021-06-17/Inputs_LandUse_E_All_Data_(Normalized).zip', date_accessed='2021-11-05', publication_date='2021-06-17', publication_year=2021)], licenses=[License(name='CC BY-NC-SA 3.0 IGO', url='http://www.fao.org/contact-us/terms/db-terms-of-use/en')], source_checksum='cf0c3bc2bc502c7d2d54cd91b8e5f4f2'), primary_key=['Area', 'Item', 'Element', 'Year'])

In [12]:
df.head()

                                          Unit    Value Flag
Area        Item         Element Year
Afghanistan Country area Area    1961  1000 ha  65286.0    W
                                 1962  1000 ha  65286.0    W
                                 1963  1000 ha  65286.0    W
                                 1964  1000 ha  65286.0    W
                                 1965  1000 ha  65286.0    W

In [26]:
cm = json.load(open(base_path / "etl/steps/data/garden/faostat/2021-06-17/faostat_rl.countries.json"))

In [29]:
df.reset_index(inplace = True)

In [30]:
df.head()

          Area          Item Element  Year     Unit    Value Flag
0  Afghanistan  Country area    Area  1961  1000 ha  65286.0    W
1  Afghanistan  Country area    Area  1962  1000 ha  65286.0    W
2  Afghanistan  Country area    Area  1963  1000 ha  65286.0    W
3  Afghanistan  Country area    Area  1964  1000 ha  65286.0    W
4  Afghanistan  Country area    Area  1965  1000 ha  65286.0    W

In [33]:
area = df['Area'].apply(lambda a: cm.get(a,a))

In [16]:
fao_garden = catalog.Dataset.create_empty(dest_dir)

In [19]:
fao_garden.metadata = fao_meadow.metadata
fao_garden.save()

In [20]:
fao_garden.add(df)