In [ ]:
from init import *

In [1]:
df = pd.read_feather("intermediate/04-countries-with-continents.feather")

In [2]:
df

,code,name,iso_alpha2,iso_alpha3,imf_code,cow_letter,cow_code,unctad_code,marc_code,ncd_code,kansas_code,penn_code,wikidata_uri,wikidata_label,legacy_entity_id,legacy_country_id,members
0,AFG,Afghanistan,AF,AFG,512,AFG,700,AFG,AF,AFGN,AFG,AFG,http://www.wikidata.org/entity/Q889,Afghanistan,15,562,None
1,ALA,Aland Islands,AX,ALA,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,http://www.wikidata.org/entity/Q5689,Åland,296,791,None
2,ALB,Albania,AL,ALB,914,ALB,339,ALB,AA,ALBN,ALB,ALB,http://www.wikidata.org/entity/Q222,Albania,16,565,None
3,DZA,Algeria,DZ,DZA,612,ALG,615,ALG,AE,ALGR,DZA,DZA,http://www.wikidata.org/entity/Q262,Algeria,17,619,None
4,ASM,American Samoa,AS,ASM,859,<NA>,<NA>,<NA>,AS,<NA>,ASM,ASM,http://www.wikidata.org/entity/Q16641,American Samoa,246,571,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,OWID_ASI,Asia,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,275,<NA>,"[""AFG"", ""ARM"", ""AZE"", ""BHR"", ""BGD"", ""BTN"", ""IO..."
292,OWID_EUR,Europe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,276,<NA>,"[""ALA"", ""ALB"", ""AND"", ""AUT"", ""OWID_AUH"", ""OWID..."
293,OWID_LAM,Latin America,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5403,<NA>,"[""ARG"", ""BOL"", ""BRA"", ""OWID_NLC"", ""CHL"", ""COL""..."
294,OWID_NAM,North America,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,294,<NA>,"[""AIA"", ""ATG"", ""ABW"", ""BHS"", ""BRB"", ""BLZ"", ""BM..."
295,OWID_OCE,Oceania,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,277,<NA>,"[""ASM"", ""AUS"", ""COK"", ""FJI"", ""PYF"", ""GUM"", ""KI..."

In [3]:
import json

In [4]:
df["members"] = df.members.map(lambda row: json.loads(row) if row is not None else None)

In [5]:
df

,code,name,iso_alpha2,iso_alpha3,imf_code,cow_letter,cow_code,unctad_code,marc_code,ncd_code,kansas_code,penn_code,wikidata_uri,wikidata_label,legacy_entity_id,legacy_country_id,members
0,AFG,Afghanistan,AF,AFG,512,AFG,700,AFG,AF,AFGN,AFG,AFG,http://www.wikidata.org/entity/Q889,Afghanistan,15,562,None
1,ALA,Aland Islands,AX,ALA,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,http://www.wikidata.org/entity/Q5689,Åland,296,791,None
2,ALB,Albania,AL,ALB,914,ALB,339,ALB,AA,ALBN,ALB,ALB,http://www.wikidata.org/entity/Q222,Albania,16,565,None
3,DZA,Algeria,DZ,DZA,612,ALG,615,ALG,AE,ALGR,DZA,DZA,http://www.wikidata.org/entity/Q262,Algeria,17,619,None
4,ASM,American Samoa,AS,ASM,859,<NA>,<NA>,<NA>,AS,<NA>,ASM,ASM,http://www.wikidata.org/entity/Q16641,American Samoa,246,571,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,OWID_ASI,Asia,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,275,<NA>,"[AFG, ARM, AZE, BHR, BGD, BTN, IOT, BRN, KHM, ..."
292,OWID_EUR,Europe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,276,<NA>,"[ALA, ALB, AND, AUT, OWID_AUH, OWID_BAD, OWID_..."
293,OWID_LAM,Latin America,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5403,<NA>,"[ARG, BOL, BRA, OWID_NLC, CHL, COL, ECU, FLK, ..."
294,OWID_NAM,North America,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,294,<NA>,"[AIA, ATG, ABW, BHS, BRB, BLZ, BMU, BES, VGB, ..."
295,OWID_OCE,Oceania,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,277,<NA>,"[ASM, AUS, COK, FJI, PYF, GUM, KIR, MHL, OWID_..."