In [2]:
import pandas as pd
from owid.catalog import Dataset
from owid.catalog.meta import *
from owid.catalog.variables import Variable
from owid.catalog.tables import Table

In [3]:
target_dataset_path = "../../../data/reference"

In [11]:
table = Table({"code": ["female", "male", "both"], "name": ["Female", "Male", "Both sexes"]})

In [13]:
table.set_index("code", inplace=True)

In [14]:
table

              name
code
female      Female
male          Male
both    Both sexes

In [18]:
table.metadata.short_name = "sex"
table.metadata.title = "Sex"
table.metadata.description = "Our World In Data sex harmonization data table. Contains our standardized vocabulary for biological sex. Gender is used a lot less in dataset of relevance for us but could be a separate dimension to harmonize in the future."

In [15]:
ds = Dataset(target_dataset_path)

In [19]:
ds.add(table, "csv")